body { /*# Страница */
	color: #2E2E2E;
	background-color: #FFFFFF;
}
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea { /*# Элемент управления */
	background-color: #FFFFFF;
	border-color: #DEDEDE;
}
input[type='text']:hover,
input[type='number']:hover,
input[type='tel']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='url']:hover,
textarea:hover { /*# Элемент управления при наведении */
	border-color: #DEDEDE;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='url']:focus,
textarea:focus { /*# Элемент управления в фокусе */
	border-color: #B4B4B4;
}
input[type='text']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input[type='text']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='url']::-moz-placeholder,
textarea::-moz-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input[type='text']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='url']:-moz-placeholder,
textarea:-moz-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input[type='text']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
textarea:-ms-input-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input::-webkit-input-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input::-moz-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input:-moz-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
input:-ms-input-placeholder { /*# Элемент управления - заполнитель */
	color: #B4B4B4;
}
.control input[type='radio'] + label:before,
.control input[type='checkbox'] + label:before { /*# Элемент управления - переключатель и флажок */
	background-color: #FFFFFF;
	border-color: #DEDEDE;
}
.control input[type='radio']:checked + label:before,
.control input[type='checkbox']:checked + label:before { /*# Элемент управления - переключатель и флажок отмеченные */
	border-color: #B4B4B4;
}
.control input[type='radio']:checked + label:after { /*# Элемент управления - переключатель отмеченный */
	background-color: #2E2E2E;
}
select,
.select2-results,
.select2-dropdown,
.select__selected,
.select2-container--default .select2-selection--single { /*# Элемент управления - выпадающий список */
	background-color: #FFFFFF;
	border-color: #DEDEDE;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { /*# Элемент управления - выпадающий список - стрелка */
	border-bottom-color: #FF5959;
}
.select.opened .select__selected:after { /*# Элемент управления - выпадающий список - стрелка */
	border-bottom-color: #FF5959;
}
.select__options { /*# Элемент управления - выпадающий список - опции */
	background-color: #FFFFFF;
	border-color: #DEDEDE;
}
.select__option:not(:first-child) { /*# Элемент управления - выпадающий список - опция */
	border-top-color: #F2F2F2;
}
.select__option:hover,
.select__option_selected,
.select__option:hover + .select__option {
    border-top-color: transparent;
}
.select__option:hover,
.select2-container--default .select2-results__option:hover,
.select2-container--default .select2-results__option--highlighted:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover { /*# Элемент управления - выпадающий список - опция при наведении */
	color: #FFFFFF;
	background-color: #FF5959;
}
.select__option_selected,
.select2-container--default .select2-results__option--highlighted[aria-selected] { /*# Элемент управления - выпадающий список - опция активная */
	color: inherit;
	background-color: #DEDEDE;
}
.form .error_input,
.form .error_input:focus { /*# Форма - элемент управления невалидный */
	border-color: #FF5959;
}
.error,
.errors { /*# Ошибки-сообщения */
	color: #FF0000;
}
button,
.button,
input[type='reset'],
input[type='submit'] { /*# Кнопка */
	color: #FFFFFF;
	background-color: #FF5959;
}
button:hover,
.button:hover,
input[type='reset']:hover,
input[type='submit']:hover,
button[type='submit']:hover { /*# Кнопка при наведении */
	color: #FFFFFF;
	-webkit-box-shadow: 0 0.625em 0.9375em rgba(0, 159, 227, 0.35);
	box-shadow: 0 0.625em 0.9375em rgba(255, 89, 89, 0.35);
}
button:focus,
.button:focus,
input[type='reset']:focus,
input[type='submit']:focus,
button[type='submit']:focus { /*# Кнопка в фокусе */
	color: #FFFFFF;
}
.button_outline { /*# Кнопка с рамкой */
	color: inherit;
	background: #FFFFFF;
	border-color: #FF5959;
}
.button_outline:hover,
.button_outline:focus { /*# Кнопка с рамкой в фокусе и при наведении */
	color: #FFFFFF;
	background-color: #FF5959;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.fancybox-button:focus,
.fancybox-button:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

a { /*# Ссылка */
	color: #2E2E2E;
}
a:hover { /*# Ссылка при наведении */
	color: #FF5959;
}
a:active { /*# Ссылка при нажатии */
	color: #FF2929;
}
.text a:link { /*# Ссылка в тексте непосещённая */
	color: #FF5959;
}
.text a:visited { /*# Ссылка в тексте посещённая */
	color: #B4B4B4;
}
.text a:hover { /*# Ссылка в тексте при наведении */
	color: #FF2929;
}
.text a:active { /*# Ссылка в тексте при нажатии */
	color: #FF2929;
}
.text table th,
.text table td { /*# Таблица в тексте - ячейки */
	border-color: #B4B4B4;
}
.modal-content { /*# Всплывающее окно */
	border-color: #E8E8E8;
}
.modal_login .form__footer ul a {
    color: inherit;
}
.modal_login .form__footer ul a:hover { /*# Всплывающее окно - нижняя область - ссылка при наведении */
	color: #FF5959;
}
.modal_login .form__footer ul a:active { /*# Всплывающее окно - нижняя область - ссылка при нажании */
	color: #FF2929;
}
.page__top { /*# Область страницы верхняя */
	background-color: #FFFFFF;
}
.page__bottom { /*# Область страницы нижняя */
	background-color: #F6F6EF;
}
.breadcrumbs { /*# "Хлебные крошки" */
	color: #B4B4B4;
}
.pagination a { /*# Пагинация - пункт */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.pagination a:focus,
.pagination a:hover,
.pagination a:active,
.pagination.paginator .current > a { /*# Пагинация - пункт в фокусе, при наведении, при нажатии, текущий */
	color: #FFFFFF;
	background-color: #FF5959;
	border-color: transparent;
}
.pagination a:active { /*# Пагинация - пункт при нажатии */
	background-color: #FF2929;
}
.pagination .prev,
.pagination .next { /*# Пагинация - пункт предыдущий, следующий */
	color: #B4B4B4;
}
.navigation a { /*# Навигация - пункт */
	color: #2E2E2E;
}
.navigation .current > a,
.navigation .active:not(.navigation__item_parent) > a { /*# Навигация - пункт активный */
	color: #FF5959;
}
.navigation .current > a:active,
.navigation .active:not(.navigation__item_parent) > a:active { /*# Навигация - пункт активный при нажатии */
	color: #FF2929;
}
.navigation_horizontal .navigation__item:hover > a { /*# Навигация горизонтальная - пункт при наведении */
	color: #FF5959;
}
.navigation_horizontal .navigation__item:hover > a:active { /*# Навигация горизонтальная - пункт при нажатии */
	color: #FF2929;
}
.navigation_horizontal .navigation__list_child { /*# Навигация горизонтальная - подменю */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.navigation_horizontal .navigation__list_child .navigation__item:not(:last-child) > a { /*# Навигация горизонтальная - подменю - пункт */
	border-bottom-color: #FFFFFF;
}
.navigation_vertical i { /*# Навигация вертикальная - иконка */
	color: #B4B4B4;
}
.navigation_vertical i:hover { /*# Навигация вертикальная - иконка при наведении */
	color: #2E2E2E;
}
.navigation_vertical .navigation__item_main:not(:last-child) { /*# Навигация вертикальная - пункт первого уровня */
	border-bottom-color: #FFFFFF;
}
.navigation_vertical .navigation__item:hover > a { /*# Навигация вертикальная - пункт при наведении */
	color: #FF5959;
}
.navigation_vertical .navigation__item:hover > a:active { /*# Навигация вертикальная - пункт при нажатии */
	color: #FF2929;
}
.navigation-block { /*# Навигация - блок */
	border-bottom-color: #E8E8E8;
}
.navigation-block_top { /*# Навигация - блок в шапке */
	background-color: #F6F6EF;
}
.navigation-block_top .navigation a { /*# Навигация - блок в шапке - пункт */
	color: #2E2E2E;
}
.navigation-block_top .navigation .current > a,
.navigation-block_top .navigation .active:not(.navigation__item_parent) > a { /*# Навигация - блок в шапке - пункт активный */
	color: #FF5959;
}
.navigation-block_top .navigation .current > a:active,
.navigation-block_top .navigation .active:not(.navigation__item_parent) > a:active { /*# Навигация - блок в шапке - пункт активный при нажатии */
	color: #FF2929;
}
.navigation-block_top .navigation_horizontal .navigation__item:hover > a { /*# Навигация - блок в шапке - пункт при наведении */
	color: #FF5959;
}
.navigation-block_top .navigation_horizontal .navigation__item:hover > a:active { /*# Навигация - блок в шапке - пункт при нажатии */
	color: #FF2929;
}
.navigation-block_top .navigation__list_child a { /*# Навигация - блок в шапке - подменю - пункт */
	color: #2E2E2E;
}
.navigation-block_top .navigation__list_child .current > a,
.navigation-block_top .navigation__list_child .active:not(.navigation__item_parent) > a { /*# Навигация - блок в шапке - подменю - пункт активный */
	color: #FF5959;
}
.navigation-block_top .navigation__list_child .current > a:active,
.navigation-block_top .navigation__list_child .active:not(.navigation__item_parent) > a:active { /*# Навигация - блок в шапке - подменю - пункт активный при нажатии */
	color: #FF2929;
}
.navigation-block_top .navigation__list_child .navigation__item:hover > a { /*# Навигация - блок в шапке - подменю - пункт при наведении */
	color: #FF5959;
}
.navigation-block_top .navigation__list_child .navigation__item:hover > a:active { /*# Навигация - блок в шапке - подменю - пункт при нажатии */
	color: #FF2929;
}
.navigation-block_top .navigation-block__socials a { /*# Навигация - блок в шапке - соц. сети */
	color: #2E2E2E;
}
.navigation-block_top .navigation-block__socials a:hover { /*# Навигация - блок в шапке - соц. сети при наведении */
	color: #FF5959;
}
.navigation-block_top .navigation-block__socials a:focus,
.navigation-block_top .navigation-block__socials a:active { /*# Навигация - блок в шапке - соц. сети при нажатии и фокусе */
	color: #FF2929;
}
.navigation-block_bottom { /*# Навигация - блок в подвале */
	border-bottom-color: #FFFFFF;
}
.navigation-block_bottom .navigation a { /*# Навигация - блок в подвале - пункт */
	color: #2E2E2E;
}
.navigation-block_bottom .navigation .current > a,
.navigation-block_bottom .navigation .active:not(.navigation__item_parent) > a { /*# Навигация - блок в подвале - пункт активный */
	color: #FF5959;
}
.navigation-block_bottom .navigation .current > a:active,
.navigation-block_bottom .navigation .active:not(.navigation__item_parent) > a:active { /*# Навигация - блок в подвале - пункт активный при нажатии */
	color: #FF2929;
}
.navigation-block_bottom .navigation .navigation__item:hover > a { /*# Навигация - блок в подвале - пункт при наведении */
	color: #FF5959;
}
.navigation-block_bottom .navigation .navigation__item:hover > a:active { /*# Навигация - блок в подвале - пункт при нажатии */
	color: #FF2929;
}
.navigation-block_bottom .navigation-block__socials a { /*# Навигация - блок в подвале - соц. сети */
	color: #2E2E2E;
}
.navigation-block_bottom .navigation-block__socials a:hover { /*# Навигация - блок в подвале - соц. сети при наведении */
	color: #FF5959;
}
.navigation-block_bottom .navigation-block__socials a:focus,
.navigation-block_bottom .navigation-block__socials a:active { /*# Навигация - блок в подвале - соц. сети при нажатии и фокусе */
	color: #FF2929;
}
.navigation-block__button { /*# Навигация - кнопка "Каталог" */
	color: #2E2E2E;
	border-right-color: #FFFFFF;
}
.navigation-block__button:hover { /*# Навигация - кнопка "Каталог" при наведении */
	color: #FF5959;
}
.navigation-block__search .button {
    color: inherit;
    background-color: transparent;
}
.navigation-block__search .button:hover,
.navigation-block__search .button:focus {
    color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
}

.navigation-block_shop { /*# Навигация - меню "Каталог" */
	background-color: #F6F6EF;
}
.navigation-block_shop .navigation-columns__col:not(:last-child) { /*# Навигация - меню "Каталог" - колонки */
	border-right-color: #FFFFFF;
}
.navigation-block_shop a { /*# Навигация - меню "Каталог" - пункт */
	color: #2E2E2E;
}
.navigation-block_shop .current > a,
.navigation-block_shop .active:not(.navigation__item_parent) > a { /*# Навигация - меню "Каталог" - пункт активный */
	color: #FF5959;
}
.navigation-block_shop .current > a:active,
.navigation-block_shop .active:not(.navigation__item_parent) > a:active { /*# Навигация - меню "Каталог" - пункт активный при нажатии */
	color: #FF2929;
}
.navigation-block_shop .navigation__item_main > a { /*# Навигация - меню "Каталог" - пункт первого уровня */
	color: #FF5959;
}
.navigation-block_shop .navigation__item:hover > a { /*# Навигация - меню "Каталог" - пункт при наведении */
	color: #FF5959;
}
.navigation-block_shop .navigation__item:hover > a:active { /*# Навигация - меню "Каталог" - пункт при нажатии */
	color: #FF2929;
}
.navigation-block_mobile { /*# Навигация - меню для мобильных устройств */
	background-color: #F6F6EF;
}
.navigation-block_mobile a { /*# Навигация - меню для мобильных устройств - пункт */
	color: #2E2E2E;
}
.navigation-block_mobile .current > a,
.navigation-block_mobile .active:not(.navigation__item_parent) > a { /*# Навигация - меню для мобильных устройств - пункт активный */
	color: #FF5959;
}
.navigation-block_mobile .current > a:active,
.navigation-block_mobile .active:not(.navigation__item_parent) > a:active { /*# Навигация - меню для мобильных устройств - пункт активный при нажатии */
	color: #FF2929;
}
.navigation-block_mobile .navigation__item:hover > a { /*# Навигация - меню для мобильных устройств - пункт при наведении */
	color: #FF5959;
}
.navigation-block_mobile .navigation__item:hover > a:active { /*# Навигация - меню для мобильных устройств - пункт при нажатии */
	color: #FF2929;
}
.page__header { /*# Шапка */
	border-bottom-color: #F2F2F2;
}
.logo  { /*# Логотип */
	color:  #2E2E2E;
}
.header__slogan { /*# Слоган */
	color: #B4B4B4;
}
.contacts-block i { /*# Контакты - иконка */
	/* color: #FF5959; */
	color: #E73A63;
}
.contacts-block__address { /*# Контакты - адрес */
	color: #B4B4B4;
}
.header__contacts-block .contacts-block__content.contacts-block__tooltip { /*# Контакты - подсказка на мобильных устройствах */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.interactive-link__icon { /*# Интерактивная ссылка - иконка */
	color: #B4B4B4;
}
.interactive-link_counted .interactive-link__counter { /*# Интерактивная ссылка - количество */
	color: #FFFFFF;
}
.interactive-link_counted .interactive-link__counter i { /*# Интерактивная ссылка - область количества */
	/* background-color: #FF5959; */
	background-color: #E73A63;
}
.carousel-badge { /*# Слайды - ярлык */
	background-color: rgba(0, 0, 0, 0.50);
}
.carousel-control-prev,
.carousel-control-next { /*# Слайды - элементы управления */
	background-color: rgba(0, 0, 0, 0.50);
}
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus { /*# Слайды - элементы управления в фокусе и при наведении */
	background-color: rgba(255, 89, 89, 0.80);
}
.carousel-indicators li { /*# Слайды - индикатор */
	background-color: rgba(0, 0, 0, 0.50);
}
.carousel-indicators .active,
.carousel-indicators li:hover { /*# Слайды - индикатор - пункт текущий и при наведении */
	background-color: #FFFFFF;
}
.tabs-block__rubrics { /*# Вкладки - рубрики на мобильных устройствах */
	-webkit-box-shadow: inset 4px 0 0 #fff;
	box-shadow: inset 4px 0 0 #FFFFFF;
}
@media (min-width: 480px) {
    .tabs-block__rubrics { /*# Вкладки - рубрики */
	-webkit-box-shadow: inset 0 -4px 0 #f6f6ef;
	box-shadow: inset 0 -4px 0 #F6F6EF;
}
}
.tabs-block__rubric:hover,
.tabs-block__rubric.active { /*# Вкладки - рубрика текущая и при на ведении */
	border-color: #FF5959;
}
.articles-block__item { /*# Статьи - элемент */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.subscription-block { /*# Подписка */
	color: #FFFFFF;
}
.subscription-block__box:after { /*# Подписка - эффект затемнения */
	background-color: rgba(0, 0, 0, 0.50);
}
.subscription-block a,
.subscription-block .error,
.subscription-block .errors {
    color: inherit;
}

.news-block__list { /*# Новости */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.news-block__item { /*# Новости - элемент */
	border-bottom-color: #FFFFFF;
}
.news-block__date,
.articles-block__date { /*# Новости, статьи - дата */
	color: #B4B4B4;
}
.shop-block-navigation__box { /*# Навигация - меню "Категории" */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.shop-block-compare__box { /*# Сравнение - блок */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
@media (min-width: 768px) {
    .shop-settings { /*# Настройки магазина */
	border-color: #FFFFFF;
}
}

.shop-sorting a:hover:after,
.shop-sorting .current:after { /*# Сортировка */
	border-bottom-color: #FF5959;
}
.shop-sorting .current:active:after { /*# Сортировка текащая */
	border-color: #FF2929;
}
.shop-stickers { /*# Стикеры */
	color: #FFFFFF;
}
.shop-sticker { /*# Стикер */
	background-color: rgba(0, 0, 0, 0.50);
}
.accordion__headline i { /*# Аккордион - иконка */
	color: #B4B4B4;
}
.shop-interactive { /*# Интерактивные элементы */
	color: #FFFFFF;
}
.shop-interactive__item { /*# Интерактивный элемент */
	background-color: rgba(0, 0, 0, 0.50);
}
.shop-compare:hover,
.shop-compare.compared { /*# Сравнение в активном состоянии и при наведении */
	color: #2E2E2E;
	background-color: #FFFFFF;
}
.shop-compare.compared:hover {/*# Сравнение в активном состоянии при наведении */
	color: inherit;
	background-color: rgba(0, 0, 0, 0.50);
}
.not-available { /*# Нет в наличии */
	color: #B4B4B4;
}
.shop-price_old { /*# "Старая цена" */
	color: #B4B4B4;
}
.shop-price_old:after { /*# "Старая цена" - линия */
	border-bottom-color: #2E2E2E;
}
.shop-counter__widget:hover input { /*# Счётчик */
	border-color: #DEDEDE;
}
.shop-counter__widget:hover input:focus { /*# Счётчик в фокусе и при наведении */
	border-color: #B4B4B4;
}
.shop-counter__button { /*# Счётчик - кнопки */
	color: #B4B4B4;
}
.product-in-cart span { /*# "В корзине" */
	color: #FF5959;
}
.product-in-cart a:active span {
    color: inherit;
}

.shop-item-product__box { /*# Карточка товара в списке */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.shop-item-product__article { /*# Карточка товара в списке - артикул */
	color: #B4B4B4;
}
.shop-item-category { /*# Категория каталога - блок */
	color: #FFFFFF;
}
.shop-item-category__link { /*# Категория каталога - блок - ссылка */
	border-color: #E8E8E8;
}
.shop-item-category__name { /*# Категория каталога - блок - название */
	background-color: rgba(0, 0, 0, 0.50);
}
.shop-block-filter__box { /*# Фильтр */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.shop-product { /*# Карточка товара на странице товара */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.gallery__button { /*# Карточка товара на странице товара - галерея */
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.50);
}
.shop-inblock { /*# Блок магазина */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.shop-table__row_head .shop-table__cell { /*# Блок магазина - таблица - заголовок - ячейка */
	border-bottom-color: #FFFFFF;
}
.shop-table-item:not(:last-child) .shop-table__cell { /*# Блок магазина - таблица - ячейка */
	border-bottom-color: #FFFFFF;
}
.shop-table__cell_control .js_cart_remove:focus,
.shop-table__cell_control .js_cart_remove:hover { /*# Кнопка "Удалить" в корзине при наведении и в фокусе */
	color: #FF5959;
}
.shop-table__cell_control .js_cart_remove:active { /*# Кнопка "Удалить" в корзине при нажатии */
	color: #FF2929;
}
.shop-table-item__category,
.shop-table-item__article { /*# Блок магазина - таблица - категория и артикул */
	color: #B4B4B4;
}
.shop-compared .shop-item-product__property { /*# Страница сравнения - характеристика */
	background-color: #FFFFFF;
}
.shop-compared .shop-item-product__property.active { /*# Страница сравнения - характеристика несовпадающая */
	background-color: #F9F9F9;
}
.shop-compared .shop-item-product__property.colored { /*# Страница сравнения - строка при наведении */
	color: #FFFFFF;
	background-color: #FF5959;
}
.blog-item-post { /*# Блог - пост */
	background-color: #F6F6EF;
	border-color: #E8E8E8;
}
.blog-post__date,
.blog-item-post__date { /*# Блог - пост - дата */
	color: #B4B4B4;
}
.review__date,
.faq-item-question__date,
.faq-element__date { /*# Отзывы, Вопрос-ответ - дата */
	color: #B4B4B4;
}
