@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
         box-sizing: inherit;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 15.5px;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 15.5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    color: #2e2e2e;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    margin-bottom: 0;
    vertical-align: middle;
}
label[for] {
    cursor: pointer;
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea {
    display: block;
    width: 100%;
    height: 2.71429em;
    max-width: 100%;
    padding: 0.71429em 0.92857em;
    font-size: 0.875em;
    line-height: 1.4;
    background: #f9f9f9;
    border: 1px solid #dedede;
    outline: none;
    -webkit-border-radius: 0.35714em;
            border-radius: 0.35714em;
}
input[type='text']:hover,
input[type='number']:hover,
input[type='tel']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='url']:hover,
textarea:hover {
    border-color: #dedede;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='url']:focus,
textarea:focus {
    border-color: #b4b4b4;
}
input[type='text']:disabled,
input[type='number']:disabled,
input[type='tel']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
input[type='url']:disabled,
textarea:disabled {
    opacity: 0.3;
    pointer-events: none;
}
textarea {
    min-height: 100px;
    resize: vertical;
}
input[type='text']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b4b4b4;
}
input[type='text']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='url']::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b4b4b4;
}
input[type='text']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='url']:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b4b4b4;
}
input[type='text']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b4b4b4;
}
.not-available-string{font-weight:bolder;color:#FF5959;}
input::-webkit-input-placeholder {
    color: #b4b4b4;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
input::-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
input:-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
input:-ms-input-placeholder {
    color: #b4b4b4;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

select {
    display: inline-block;
    max-width: 100%;
    height: 2.71429em;
    padding: 0.71429em 0.92857em;
    vertical-align: middle;
    line-height: 1.4;
    font-size: 0.875em;
    background: #f9f9f9;
    -webkit-border-radius: 0.35714em;
            border-radius: 0.35714em;
    outline: none;
    border: 1px solid #dedede;
}
.offer-radio-checker:checked+label{
	/* outline: gray 2px solid; */
	opacity: 1;
}
.special-logo{
	/* color: rgba(85, 21, 19, 1);
	font-family: times new roman;
	letter-spacing: 4px; */
	font-size: 1.875em;
	position: relative;
	top: 3px;
}
.special-logo-slogan{
	font-size: 14px !important;
	display: inline-block;
}
.search-result-list{
	position: absolute;
	z-index: 100;
	background-color: #B4B4B4;
}
.search-result-list li{
	border-bottom: 1px solid #f2f2f2;
	border-bottom-color: #FFFFFF;
	padding: 5px;
}
.search-result-list img{
	width: 40px;
	margin-right: 5px;
}
.select2-container {
    min-width: 50px;
    line-height: 1.4;
    font-size: 0.875em;
}
.select2-results,
.select2-container--default .select2-selection--single {
    background-color: #f9f9f9;
}
.select2-dropdown {
    overflow: hidden;
}
.select2-dropdown,
.select2-container--default .select2-selection--single {
    border-color: #dedede;
}
.select2-container--default .select2-selection--single {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.71429em;
    padding: 0.71429em 0.92857em;
    padding-right: 2em;
    vertical-align: middle;
    line-height: inherit;
    -webkit-border-radius: 0.35714em;
            border-radius: 0.35714em;
    outline: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: inherit;
    line-height: inherit;
}
.select2-container--default.select2-container--open .select2-selection--single {
    border-bottom-color: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 2em;
    height: 100%;
    right: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    border-top-color: currentColor;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-top-color: transparent;
    border-bottom-color: #bd0038;
}
.select2-container--default .select2-results__option {
    padding: 0.71429em 0.92857em;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: transparent;
}
.select2-container--default .select2-results__option:hover,
.select2-container--default .select2-results__option--highlighted:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    color: #fff;
    background: #bd0038;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: inherit;
    background-color: #dedede;
}

.select {
    display: inline-block;
    max-width: 100%;
    height: 2.71429em;
    position: relative;
    vertical-align: middle;
    line-height: 1.4;
    font-size: 0.875em;
}
.select__selected {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 0.92857em;
    padding-right: 2em;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    line-height: 2.71429em;
    white-space: nowrap;
    background: #f9f9f9;
    overflow: hidden;
    -webkit-border-radius: 0.35714em;
            border-radius: 0.35714em;
    border: 1px solid #dedede;
    cursor: pointer
}
.select__selected:after {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.14286em;
    position: absolute;
    top: 50%;
    right: 0.71429em;
    content: '';
    border: 0.35714em solid transparent;
    border-top-color: currentColor;
    z-index: 2;
}
.select.opened .select__selected {
    border-bottom-color: transparent;
    -webkit-border-radius: 0.35714em 0.35714em 0 0;
            border-radius: 0.35714em 0.35714em 0 0
}
.select.opened .select__selected:after {
    border-top-color: #bd0038;
}
.select__options {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f9f9f9;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 1px solid #dedede;
    border-top: none;
    overflow: hidden;
    -webkit-border-radius: 0 0 0.35714em 0.35714em;
            border-radius: 0 0 0.35714em 0.35714em;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 10;
}
.select.opened .select__options {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.select__option {
    display: block;
    padding: 0.71429em 0.92857em;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.select__option:hover {
    color: #fff;
    background: #bd0038;
}
.select__option_selected {
    background: #dedede;
}
.select__option:not(:first-child) {
    border-top: 1px solid #f2f2f2;
}
.select__option:hover,
.select__option_selected,
.select__option:hover + .select__option {
    border-top-color: transparent;
}

button,
.button,
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    height: 2.85714em;
    padding: 0.92857em 0.71429em;
    font-size: 0.875em;
    text-align: center;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: #bd0038;
    outline: none;
    border: none;
    -webkit-border-radius: 0.35714em;
            border-radius: 0.35714em;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.checkout-cart-button-handler{
	text-align: right;
}
.checkout-cart-button-handler button{
	display: inline-block;
	height: 96px;
	padding: 1.5em 1.5em;
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
	background: #FF5959;
	outline: none;
	border: none;
	-webkit-border-radius: 0.35714em;
	border-radius: 0.35714em;
	cursor: pointer;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
button:hover,
.button:hover,
input[type='reset']:hover,
input[type='submit']:hover,
button[type='submit']:hover {
    color: #fff;
    -webkit-box-shadow: 0 0.625em 0.9375em rgba(140, 0, 42, .35);
            box-shadow: 0 0.625em 0.9375em rgba(140, 0, 42, .35);
}
button:focus,
.button:focus,
input[type='reset']:focus,
input[type='submit']:focus,
button[type='submit']:focus {
    color: #fff;
    outline: none;
}
button:disabled,
.button:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled,
button[type='submit']:disabled {
    opacity: 0.3;
    pointer-events: none;
}
.button_outline {
    color: inherit;
    background: none;
    border: 1px solid #bd0038;
}
.button_outline:hover,
.button_outline:focus {
    color: #fff;
    background: #bd0038;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.button-up {
    display: none;
    width: 0;
    height: 0;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-indent: -9999px;
    overflow: hidden;
    border: 25px solid transparent;
    border-bottom-color: currentColor;
    z-index: 101;
}

.fancybox-button:focus,
.fancybox-button:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

h1, .h1 {
    font-size: 1.125em;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 1em;
}

@media (min-width: 480px) {
    h1, .h1 {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    h1, .h1 {
        font-size: 2.25em;
    }
}

h2, .h2 {
    font-size: 1.125em;
}

@media (min-width: 480px) {
    h2, .h2 {
        font-size: 1.5em;
    }
}

.h2 {
    margin-bottom: 0.83333em;
    line-height: 1.4;
}

@media (min-width: 480px) {
    .h2 {
        margin-bottom: 1.25em;
    }
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    color: inherit;
    outline: none;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

a:hover {
    text-decoration: none;
    color: #bd0038;
}

a:active {
    text-decoration: none;
    color: #8d002a;
}

a:focus {
    outline: none;
}

p {
    margin-bottom: 0;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.text {
    font-size: 0.875em;
}

@media (min-width: 480px) {
    .text {
        font-size: 16px;
    }
}

.text a:link {
    color: #bd0038;
}

.text a:visited {
    color: #b4b4b4;
}

.text a:hover {
    color: #8d002a;
}

.text a:active {
    color: #8d002a;
}

.text p,
    .text table {
    margin-bottom: 1.5em;
}

.text ul,
    .text ol {
    margin-bottom: 1em;
}

.text ul {
    padding-left: 0.625em;
    line-height: 1.75em;
}

.text ul li {
    position: relative;
}

.text ul li:before {
    display: block;
    width: 0.3125em;
    height: 0.3125em;
    position: absolute;
    top: 0.625em;
    left: -0.625em;
    content: '';
    background: currentColor;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 2;
}

.text ul ul {
    margin-left: 1em;
}

.text ol {
    line-height: 1.75em;
    counter-reset: counter;
}

.text ol li:before {
    counter-increment: counter;
    content: counters(counter, '.') '. ';
}

.text ol ol {
    margin-left: 1em;
}

.text h2,
    .text .h2 {
    margin-bottom: 0.66667em;
    font-size: 1.28571em;
}

.text img:not(.captcha-image) {
    margin-right: 1.25em;
    margin-bottom: 1.25em;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

.text table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.text table th,
        .text table thead {
    font-weight: 700;
}

.text table th,
        .text table td {
    padding: 0.3125em;
    vertical-align: top;
    border: 1px solid #b4b4b4;
}

.images img {
    display: block;
    height: auto;
    margin-bottom: 0.625em;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

@media (min-width: 576px) {
    .images img {
        margin-bottom: 1.875em;
    }
}

.container,
.container-fluid {
    padding-right: 0.9375em;
    padding-left: 0.9375em;
}

.container-fluid {
    max-width: 1200px;
}

.row {
    margin-left: -0.9375em;
    margin-right: -0.9375em;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 0.9375em;
    padding-left: 0.9375em;
}

.card-deck .card {
    margin-bottom: 0.9375em;
}
@media (min-width: 576px) {
    .card-deck {
        margin-right: -0.9375em;;
        margin-left: -0.9375em;
    }
    .card-deck .card {
        margin-right: 0.9375em;
        margin-left: 0.9375em;
    }
}
.card-group > .card {
    margin-bottom: -0.9375em;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.slick-track {
    margin-left: 0;
}

.page__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
}

.page__top {
    position: relative;
}
.page__top,
.page__bottom {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: #fff;
}
.page__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 1.875em 0;
}

.page__aside {
    margin-top: 1.875em;
}

@media (min-width: 992px) {
    .page__aside {
        margin-top: 0;
    }
}

.not-available {
    display: block;
    margin-top: 0.71429em;
    margin-bottom: 0.71429em;
    font-size: 0.875em;
    color: #b4b4b4;
}

.accordion__headline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.0625em 1.5625em;
    position: relative;
    font-weight: 700;
    line-height: 1.4;
    cursor: pointer
}

.accordion__headline i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 0.875em;
    color: #b4b4b4;
}

.accordion__headline:hover i {
    color: inherit;
}

.accordion__headline .accordion__icon {
    left: 0;
}

.accordion__headline .accordion__drop {
    right: 0;
    text-align: right;
}
.accordion__body {
    display: none;
    margin-bottom: 1.25em;
}
.accordion__item.active .accordion__body {
    display: block;
}
.accordion__item.active .accordion__headline {
    margin-bottom: 1.0625em;
    border-bottom: 1px solid #f2f2f2;
}

.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: 0;
    margin-top: 0.9375em;
    margin-bottom: 1.875em;
    text-align: center;
    font-weight: 700;
    line-height: 1
}

.pagination li {
    display: inline-block;
    margin: 0.3125em;
    vertical-align: middle;
}

/* fix */
.pagination a {
    display: block;
    margin: 0;
    padding: 0.71428em 0.92857em;
    font-size: 0.875em;
    background: #F6F6EF;
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 0.35714em;
    border-radius: 0.35714em;
}
.pagination a:focus,
.pagination a:hover,
.pagination a:active,
.pagination.paginator .current > a {
    color: #fff;
    background-color: #bd0038;
    border-color: transparent;
}
.pagination a:active {
    background-color: #8d002a;
}
/* fix */

.pagination a:link,
.pagination a:visited {
    margin: 0;
}
.pagination .prev,
.pagination .next {
    font-size: inherit;
    color: #b4b4b4;
}
.pagination .prev {
    margin-left: 0;
    margin-right: 1.25em;
}

.pagination .next {
    margin-left: 1.25em;
    margin-right: 0;
}

.breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-size: 0.75em;
    color: #b4b4b4
}

.breadcrumbs li {
    margin-right: 4px;
    margin-bottom: 0.625em;
    overflow: hidden;
}

@media (min-width: 992px) {
    .breadcrumbs li {
        margin-bottom: 0.125em;
    }
}

.infofield {
    margin-bottom: 0.35714em;
    font-size: 0.875em;
    font-weight: 700;
}

.privacy,
.privacy_field,
.required,
.required_field,
.error,
.errors {
    margin-top: 0.41667em;
    font-size: 0.75em;
}

.error,
.errors {
    padding: 0;
    position: static;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background: none;
	opacity: 1;
    color: #bd0038;
}

.form .h2 {
    margin-bottom: 0.83333em;
}

.form .control {
    margin-bottom: 1.5625em;
}

.form .control_naked {
    margin-bottom: 0;
}

.form .control__text {
    margin-top: 0.35714em;
    font-size: 0.875em;
}

.form .roll {
    overflow: hidden;
    overflow-y: auto;
}

.form .control-group .control {
    margin-bottom: 0.9375em;
}

.form .control-group .control:last-child {
    margin-bottom: 0;
}

.form .control-group .control_naked {
    margin-bottom: 0;
}

.form .label,
    .form .control-group__label {
    max-width: 100%;
    margin-bottom: 0.35714em;
    font-size: 0.875em;
    font-weight: 700;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.form .control-group__label {
    margin-bottom: 1.07143em;
}

.form .input {
    margin-bottom: 0.35714em;
}

.form .error_input,
    .form .error_input:focus {
    border-color: #bd0038;
}

.control input[type='radio'],
    .control input[type='checkbox'] {
    width: 0;
    height: 0;
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;
}

.control input[type='checkbox'] + label,
    .control input[type='radio'] + label {
    padding: 0.35714em 0;
    padding-left: 2.5em;
    position: relative;
    font-size: 0.875em;
    line-height: 1.42857em;
}

.control.control_naked input[type='checkbox'] + label,
    .control.control_naked input[type='radio'] + label {
    padding: 0;
}

.control input[type='radio'] + label:before,
    .control input[type='checkbox'] + label:before {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    background: #f9f9f9 no-repeat center center;
    border: 1px solid #dedede;
    z-index: 2;
}

.control.control_naked input[type='radio'] + label:before,
    .control.control_naked input[type='checkbox'] + label:before {
    position: relative;
    top: auto;
}

.control input[type='checkbox'] + label:before {
    -webkit-border-radius: 0.14286em;
            border-radius: 0.14286em;
}

.control input[type='radio'] + label:before {
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.control input[type='radio']:checked + label:before,
    .control input[type='checkbox']:checked + label:before {
    border-color: #b4b4b4;
}

.control input[type='checkbox']:checked + label:before {
    background-image: url('../img/check.svg');
    -webkit-background-size: 12px 9px;
            background-size: 12px 9px;
}

.control input[type='radio']:checked + label:after {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 9px;
    left: 7px;
    content: '';
    background: #2e2e2e;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 2;
}

.control.control_naked input[type='radio']:checked + label:after {
    top: 7px;
}

.control_checkbox:not(.control_naked) label {
    display: block;
}

.modal-dialog-centered {
    margin-left: auto;
    margin-right: auto;
}
.modal-close {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875em;
    z-index: 2;
}
.modal-content {
    padding: 1.875em 1.25em;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
.modal_login .modal-dialog {
    max-width: 270px;
}
.modal_login .form__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
}
.modal_login .form__footer ul {
    margin-bottom: 0;
    font-size: 0.75em;
    font-weight: 700;
}
.modal_login .form__footer ul a {
    color: inherit;
}
.modal_login .form__footer ul a:hover {
    color: #bd0038;
}
.modal_login .form__footer ul a:active {
    color: #8d002a;
}
.modal_login .button {
    padding-left: 1.42857em;
    padding-right: 1.42857em;
}

.modal_inCart .modal-dialog {
    max-width: 350px;
}

.credit .pb-sdk-pos-credit .cont---3gAGR{
	box-shadow: none;
	padding: 0;
	margin: 0;
}

.modal_inCart .modal__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
}

.modal_inCart .button:not(:last-child) {
    margin-right:  0.625em;
    margin-bottom:  0.625em;
}

.modal_oneClick .modal-dialog {
    max-width: 350px;
}

.credit .modal-dialog{
	max-width: 650px !important;
	padding: 40px 90px;
}

.navigation li {
    position: relative;
}

.navigation a {
    display: block;
    position: relative;
    overflow: hidden;
}

.navigation .current > a,
.navigation .active:not(.navigation__item_parent) > a {
    color: #bd0038;
}

.navigation .current > a:active,
.navigation .active:not(.navigation__item_parent) > a:active {
    color: #8d002a;
}

.navigation_horizontal .navigation__item:hover > a {
    color: #bd0038;
}

.navigation_horizontal .navigation__item:hover > a:active {
    color: #8d002a;
}

.navigation_horizontal .navigation__item_parent > a:after {
    display: block;
    width: 0;
    height: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    right: -0.1875em;
    content: '';
    border: 5px solid transparent;
    border-top-color: currentColor;
    z-index: 2;
}

.navigation_horizontal .navigation__item_main.navigation__item_parent > a {
    padding-right: 1.5625em;
}

.navigation_horizontal .navigation__item_main.navigation__item_parent > a:after {
    right: 0.625em;
}

.navigation_horizontal .navigation__list_child {
    min-width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 0.875em;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 1px solid #e8e8e8;
    border-top-width: 0;
    -webkit-border-radius: 0 0 0.35714em 0.35714em;
            border-radius: 0 0 0.35714em 0.35714em;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 22;
}

.navigation_horizontal .navigation__list_child a {
    padding-left: 0;
    padding-right: 0;
}

.navigation_horizontal .navigation__list_child .navigation__item_parent > a {
    padding-right: 1.42857em;
}

.navigation_horizontal .navigation__list_child .navigation__item_parent > a:after {
    margin-top: -5px;
    border-top-color: transparent;
    border-left-color: currentColor;
}

.navigation_horizontal .navigation__list_child .navigation__item {
    padding: 0 1.07143em;
}

.navigation_horizontal .navigation__list_child .navigation__item:not(:last-child) > a {
    border-bottom: 1px solid #f2f2f2;
}

.navigation_horizontal .navigation__list_child .navigation__list_child {
    top: -1px;
    left: 100%;
    font-size: inherit;
    border-top-width: 1px;
    -webkit-border-radius: 0 0.35714em 0.35714em 0.35714em;
            border-radius: 0 0.35714em 0.35714em 0.35714em;
}

.navigation_horizontal .navigation__item:hover > .navigation__list_child {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.navigation_vertical i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    width: 2.85714em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #b4b4b4;
    z-index: 2;
}

.navigation_vertical i:hover {
    color: #2e2e2e;
}

.navigation_vertical .navigation__item_main > a {
    padding: 2.14286em;
    padding-left: 0;
    font-size: 0.875em;
}

.navigation_vertical .navigation__item_main:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}

.navigation_vertical .navigation__list_child {
    display: none;
    font-size: 0.75em;
}

.navigation_vertical .navigation__item_main > .navigation__list_child {
    margin-top: -1.25em;
    margin-bottom: 1.66667em;
}

.navigation_vertical .navigation__list_child .navigation__list_child {
    margin-left: 1.66667em;
    font-size: inherit;
}

.navigation_vertical .navigation__list_child a {
    padding: 0.83333em 0;
    padding-right: 2.08333em;
}

.navigation_vertical .active > .navigation__list_child,
    .navigation_vertical .active.current > .navigation__list_child {
    display: block;
}

.navigation-columns {
    font-weight: 700;
    line-height: 1
}

.navigation-columns .navigation-columns__col {
    margin-bottom: 0.9375em;
}

.navigation-columns .navigation__list_child {
    font-size: 0.75em;
}

.navigation-columns .navigation__list_child .navigation__list_child {
    margin-left: 1.66667em;
    font-size: inherit;
}

.navigation-columns a {
    padding: 0.83333em 0;
}

.navigation-columns .navigation__item_main > a {
    margin-bottom: 0.9375em;
    padding: 0;
    font-size: 0.875em;
    line-height: 1.4em;
}

.navigation-block {
    line-height: 1.4;
    border-bottom: 1px solid #e8e8e8;
}
.navigation-block__row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.navigation-block__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
    font-weight: 700
}
.navigation-block__left a {
    padding: 1em 0.9375em;
}
.navigation-block__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-right: 0.625em;
    padding: 1em 2.5em;
    padding-left: 0;
    white-space: nowrap;
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}
.navigation-block__button:hover {
    color: #bd0038;
}
@media (min-width: 1200px) {
    .navigation-block__button {
        margin-right: 1.5625em;
    }
	.interactive-link_favorites{
		left: 10%;
	}
}
.navigation-block__button i {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 1em;
    margin-right: 0.3125em;
    font-size: 1.25em;
    vertical-align: middle;
}
.navigation-block__button .fa-times {
    display: none;
}
.navigation-block__menu .navigation__list_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 100%;
}
.navigation-block__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-block__socials {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 1.66667em;
    font-size: 1.125em
}
.navigation-block__socials a:not(:first-child) {
    margin-left: 0.83333em;
}
.navigation-block__search {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    -webkit-flex-basis: 15em;
        -ms-flex-preferred-size: 15em;
            flex-basis: 15em;
    position: relative;
    max-width: 100%
}
.navigation-block__search .form {
    font-size: 0.75em;
}
.navigation-block__search .control {
    margin-bottom: 0;
}
.navigation-block__search .input {
    height: auto;
    margin-bottom: 0;
    padding: 0.66667em 1.25em;
    padding-right: 3.33333em;
    font-size: inherit;
    -webkit-border-radius: 0.16667em;
            border-radius: 0.16667em;
}
.navigation-block__search .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    width: 3.33333em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: inherit;
    color: inherit;
    background: none;
    z-index: 2;
}
.navigation-block__search .button:hover,
        .navigation-block__search .button:focus {
    color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
}

.navigation-block_top .navigation-block__left {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.navigation-block_top .navigation__item_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 575.98px) {
    .navigation-block_top .navigation-block__socials {
        margin-right: 0;
    }
}

.navigation-block_bottom {
    padding-top: 1.1875em;
    padding-bottom: 1.1875em;
}

@media (min-width: 992px) {
    .navigation-block_bottom {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navigation-block_bottom .navigation-block__left .navigation__item_main:not(:last-child) {
    margin-right: 1.875em;
}

.navigation-block_bottom .navigation-block__left a {
    padding: 2em 0;
    font-size: 0.875em;
}

@media (min-width: 1200px) {
    .navigation-block_bottom .navigation-block__left a {
        padding-top: 1.6875em;
        padding-bottom: 1.6875em;
        font-size: inherit;
    }
}

.navigation-block_shop {
    max-height: -webkit-calc(100vh - 114px);
    max-height: calc(100vh - 114px);
    width: 100%;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    position: absolute;
    top: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    overflow: hidden;
    overflow-y: auto !important;
    z-index: 20
}

.navigation-block_shop .navigation-columns__col {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
}

.navigation-block_shop .navigation-columns__col:not(:last-child) {
    border-right: 1px solid #e8e8e8;
}

.navigation-block_shop .navigation__item_main > a {
    color: #bd0038;
}
.isNavigationBlockShopOpened .navigation-block_shop {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.isNavigationBlockShopOpened .navigation-block__button_shop .fa-bars {
    display: none;
}
.isNavigationBlockShopOpened .navigation-block__button_shop .fa-times {
    display: inline-block;
}

.navigation-block_mobile {
    max-width: 100%;
    height: -webkit-calc(100% - 114px);
    height: calc(100% - 114px);
    position: fixed;
    top: 114px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    overflow-y: auto !important;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 0;
            border-radius: 0;
    z-index: -3
}

.navigation-block_mobile .shop-block-navigation__box {
    border: none;
}
.isNavigationBlockMobileOpened {
    overflow: hidden
}
.isNavigationBlockMobileOpened .navigation-block_mobile {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    z-index: 21;
}
.isNavigationBlockMobileOpened .navigation-block__button_nav .fa-bars {
    display: none;
}
.isNavigationBlockMobileOpened .navigation-block__button_nav .fa-times {
    display: inline-block;
}

.shop-block-navigation__box {
    padding: 0 1.25em;
    font-weight: 700;
    line-height: 1.4;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

.contacts-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    position: relative;
    line-height: 1.4em;
}

.contacts-block i {
    margin-right: 0.33333em;
    font-size: 1.25em;
    color: #7a71d8;
}
.contacts-block__phones a {
    font-size: 1.125em;
    font-weight: 700;
}
.contacts-block__mailto a {
    font-size: 1em;
    font-weight: 700;
}
.contacts-block__address {
    font-size: 0.75em;
    line-height: 1.4em;
    font-weight: 300;
    color: #b4b4b4;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.interactive-link {
    position: relative;
}
.interactive-link__icon {
    margin-right: 0.41667em;
    /* fix */
    vertical-align: baseline;
    /* fix */
    color: #b4b4b4;
}
@media (min-width: 992px) {
    .interactive-link__icon {
        font-size: 0.75em;
    }
}
.interactive-link__title {
    font-size: 0.75em;
    font-weight: 700;
}
.interactive-link__counter {
    display: none;
}
.interactive-link_counted {
    padding-right: 1.25em
}
.interactive-link_counted .interactive-link__counter {
    display: block;
    position: absolute;
    top: -0.33333em;
    right: 0;
    font-size: 0.5625em;
    text-align: center;
    line-height: 1.4;
    font-weight: 300;
    color: #fff;
    z-index: 2;
}
.interactive-link_counted .interactive-link__counter i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    width: 1.77778em;
    height: 1.77778em;
    font-style: normal;
    background: #bd0038;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.page__header {
    /* fix */
    width: 100%;
    /* fix */
    padding: 0.75em 0;
    border-bottom: 1px solid #f2f2f2;
    top: -50px;
    /* fix */
    left: 0;
    /* fix */
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    will-change: top
}

@media (max-width: 575.98px) {
    .page__header .interactive-link {
        padding-right: 0;
    }
}

@media (max-width: 575.98px) {
    .page__header .interactive-link_counted {
        padding-right: 0.3125em;
    }
}

@media (max-width: 991.98px) {
    .page__header .interactive-link__icon {
        margin-right: 0;
    }
}
.isPageHeaderFixed .page__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: inherit;
    z-index: 120;
}
.isPageHeaderFixed .modal-backdrop {
    z-index: 120;
}

.header__row {
    -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* fix */
@media(min-width: 576px) {
    .header__row {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}
/* fix */

.logo-default {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-style: normal;
    text-align: center;
    color: #fff;
    line-height: 50px;
    background: url(../img/logo.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    overflow: hidden;
}

@media (min-width: 576px) {
    .logo-default {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

.header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 13.88889em;
    /* fix */
    margin-right: auto;
    /* fix */
    font-weight: 700;
    line-height: 1;
}
/* fix */
@media (min-width: 576px) {
    .header__logo {
        margin-right: 0;
    }
    /* .header__logo .logo {
        font-size: 1.875em;
    } */
}
/* fix */

.header__logo img,
.header__logo .logo-default  {
    margin-right: 0.625em;
    margin-top: -10px;
}

.header__logo img {
    max-width: 200px;
    max-height: 90px;
	margin-right: 0;
}

/* fix */
.header__logo .useradmin_contener,
.header__logo p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__slogan {
    max-width: 12.85714em;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.28571em;
    color: #b4b4b4;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
	position: relative;
	left: 28px;
	top: -3px;
}

/* fix */
/* .header__contacts-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 0.9375em;
} */
/* fix */

@media (max-width: 575.98px) {
    .header__contacts-block {
        padding: 0;
    }
}

/* fix */
/* @media (min-width: 576px) { */
    .header__contacts-block {
        -webkit-box-pack: initial;
        -webkit-justify-content: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
        /* max-width: 18.75em; */
        margin-bottom: 0;
    }
/* } */
/* fix */

@media (min-width: 768px) {
    .header__contacts-block {
        margin-left: 0;
    }
}
/* fix */
/* .header__contacts-block i {
    margin-right: 0;
    font-size: 2em;
    cursor: pointer;
}
@media (min-width: 576px) {
    .header__contacts-block i {
        font-size: inherit;
    }
}

@media (min-width: 768px) {
    .header__contacts-block i {
        margin-right: 0.33333em;
        cursor: auto;
    }
} */

@media (max-width: 767.98px) {
    .header__contacts-block i {
        margin-right: 0;
        font-size: inherit;
        cursor: pointer;
    }
}

/* fix */

.header__contacts-block .contacts-block__content {
    display: none;
}

@media (min-width: 768px) {
    .header__contacts-block .contacts-block__content {
        display: block;
		min-width: 250px;
    }
}

.header__contacts-block .contacts-block__content.contacts-block__tooltip {
    display: block;
    min-width: 15.625em;
    margin-top: 1.125em;
    padding: 1.25em;
    position: absolute;
    top: 100%;
    right: 50%;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
         -o-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
    z-index: 22;
}

@media (min-width: 480px) {
    .header__contacts-block .contacts-block__content.contacts-block__tooltip {
        right: -0.9375em;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@media (min-width: 576px) {
    .header__contacts-block .contacts-block__content.contacts-block__tooltip {
        right: 0;
    }
}

.header__contacts-block .contacts-block__content.contacts-block__tooltip:after {
    display: block;
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: -0.6875em;
    right: 7.1875em;
    content: '';
    background: inherit;
    border: inherit;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

@media (min-width: 480px) {
    .header__contacts-block .contacts-block__content.contacts-block__tooltip:after {
        right: 1.25em;
    }
}

.header__auth .interactive-link:not(:first-child) {
    margin-left: 2.5em;
}

.page-block_aside {
    margin-bottom: 1.875em;
}

.articles-block__item {
    margin-bottom: 0.625em;
    padding: 0.625em;
    padding-bottom: 0;
    line-height: 0.9375em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
    overflow: hidden;
}
.articles-block__image {
    width: 5em;
    height: 5em;
    margin-right: 0.625em;
    margin-bottom: 0.625em;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 0.125em;
            border-radius: 0.125em;
}
.articles-block__content {
    margin-bottom: 0.83333em;
    font-size: 0.75em;
}
.articles-block__link {
    display: block;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.articles-block__date {
    font-size: 0.83333em;
    line-height: 2em;
    color: #b4b4b4;
}

.subscription-block {
    color: #fff
}

.subscription-block .control {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-flex-basis: 16.42857em;
        -ms-flex-preferred-size: 16.42857em;
            flex-basis: 16.42857em;
    max-width: 100%;
    margin-bottom: 0.71429em;
}

@media (min-width: 576px) {
    .subscription-block .control {
        margin-right: 1.42857em;
    }
}

@media (min-width: 992px) {
    .subscription-block .control {
        margin-right: 0;
    }
}

.subscription-block .error,
    .subscription-block .errors {
    color: inherit;
}
.subscription-block__box {
    padding: 3.75em 1.25em;
    position: relative;
    background: no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover;
    overflow: hidden;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em
}
.subscription-block__box.bg_default {
    background-image: url('../img/subscription.jpg');
}
.subscription-block__box:after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #000000;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}
.subscription-block__content {
    position: relative;
    z-index: 3;
}
.subscription-block__text {
    margin-bottom: 1.25em;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.news-block__list {
    padding: 0 1.25em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
.news-block__item {
    padding: 1.25em 0;
    line-height: 0.9375em;
    border-bottom: 1px solid #f2f2f2;
}
/* fix */
.news-block__item:last-child {
    border-bottom: none;
}
/* fix */
.news-block__link {
    display: block;
    font-size: 0.75em;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.news-block__date {
    font-size: 0.625em;
    line-height: 2em;
    color: #b4b4b4;
}

.carousel {
    margin-bottom: 1.875em;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
    overflow: hidden;
}
.carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover
}
.carousel-item:after {
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
    content: '';
}
@media (min-width: 576px) {
    .carousel-item:after {
        padding-bottom: 40%;
    }
}
.carousel-link {
    display: block;
}
.carousel-caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 7.8125em 0;
    padding: 0 17% 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0.625em;
    text-align: left;
    text-align: initial;
    line-height: 1.2;
    z-index: 10;
}
@media (min-width: 576px) {
    .carousel-caption {
        font-size: 0.75em;
    }
}
@media (min-width: 768px) {
    .carousel-caption {
        font-size: inherit;
    }
}
.carousel-caption__content {
    display: block;
}
.carousel-badge {
    padding: 0.83333em 1.5em;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    line-height: 1.4;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.16667em;
            border-radius: 0.16667em;
    z-index: 2;
}
@media (min-width: 576px) {
    .carousel-badge {
        font-size: 1em;
    }
}
@media (min-width: 768px) {
    .carousel-badge {
        font-size: 0.75em;
    }
}
.carousel-control-prev,
.carousel-control-next {
    width: 1.875em;
    height: 1.875em;
    margin-top: -0.9375em;
    top: 50%;
    bottom: auto;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    opacity: 0.9;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.carousel-control-prev {
    left: 1.25em;
}
.carousel-control-next {
    right: 1.25em;
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    opacity: 1;
    /* fix */
    background-color: rgba(189, 0, 56, 0.8);
    /* fix */
}
.carousel-indicators {
    bottom: 0.625em;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators li {
    width: 1.5625em;
    height: 0.25em;
    margin-right: 0.1875em;
    margin-left: 0.1875em;
    text-indent: -999px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.125em;
            border-radius: 0.125em;
    cursor: pointer;
}
/* fix */
.carousel-indicators li:hover,
/* fix */
.carousel-indicators .active {
    background-color: #fff;
}

.rating-block {
    margin-bottom: 0.83333em;
    font-size: 0.75em
}

.rating-block img {
    margin-right: 0.41667em;
    margin-bottom: 0.41667em;
}

.tabs-block {
    margin-bottom: 1.25em;
}
.tabs-block__rubrics {
    -webkit-box-shadow: inset 4px 0 0 #fff;
            box-shadow: inset 4px 0 0 #fff;
}
@media (min-width: 480px) {
    .tabs-block__rubrics {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 100%;
        border-left: none;
        -webkit-box-shadow: inset 0 -4px 0 #fff;
                box-shadow: inset 0 -4px 0 #fff;
    }
}
.tabs-block__rubric {
    padding: 0.55556em;
    padding-right: 0;
    border-left: 4px solid transparent;
    cursor: pointer;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}
@media (min-width: 480px) {
    .tabs-block__rubric {
        padding: 0.83333em 0;
        border-left: none;
        border-bottom: 4px solid transparent;
    }
}
.tabs-block__rubric:hover,
.tabs-block__rubric.active {
    border-color: #bd0038;
}
@media (min-width: 480px) {
    .tabs-block__rubric:not(:last-child) {
        margin-right: 1.04167em;
    }
}
.tabs-block__tab {
    display: none;
}
.tabs-block__tab.active {
    display: block;
}

.category-intro {
    margin-bottom: 0.625em;
    overflow: hidden;
}
.category-intro__image {
    display: block;
    margin-bottom: 1.25em;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
@media (min-width: 480px) {
    .category-intro__image {
        width: -webkit-calc(33.33333% - 20px);
        width: calc(33.33333% - 20px);
        margin-right: 1.25em;
        float: left;
    }
}
.category-intro__image:after {
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 38.46154%;
    content: '';
}
.category-intro__content {
    margin-bottom: 0.625em;
}
@media (min-width: 480px) {
    .category-intro__content {
        margin-bottom:  1.25em;
    }
}

.additional-cost {
    margin-bottom:  1.5625em;
}

.page_home .page__aside .shop-block-compare {
    display: none;
}

@media (min-width: 768px) {
    .page_home .page__aside .shop-block-compare {
        display: block;
    }
}
.shop-block-compare__box {
    padding: 1.5625em 1.25em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

.shop-settings {
    margin-bottom: 1.25em;
    font-weight: 700;
}

@media (min-width: 768px) {
    .shop-settings {
        margin-bottom: 1.875em;
        border: 1px solid #fff;
        border-left: none;
        border-right: none;
    }
}

.shop-sorting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    font-size: 0.75em
}

.shop-sorting .shop-sorting__title {
    margin-right: 1.66667em;
}

.shop-sorting .shop-sorting__unit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
}

.shop-sorting .shop-sorting__order-select {
    width: 40%;
}

.shop-sorting .shop-sorting__order-select .select {
    width: 180px;
    font-size: inherit;
    min-width: 180px;
}

.shop-sorting .shop-sorting__order-links a {
    display: block;
    padding: 1.66667em 0;
    position: relative;
    white-space: nowrap;
}

.shop-sorting .shop-sorting__order-links a:not(:last-child) {
    margin-right: 1.66667em;
}

.shop-sorting .shop-sorting__order-links a:nth-child(even):not(:last-child) {
    margin-right: 3.33333em;
}

.shop-sorting i {
    margin-right: 0.25em;
}

.shop-sorting a:hover:after,
    .shop-sorting .current:after {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    border-bottom: 1px solid #bd0038;
    z-index: 2;
}

.shop-sorting .current:active:after {
    border-color: #8d002a;
}

.shop-stickers {
    max-width: 75px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.625em;
    color: #fff;
    z-index: 2;
}
.shop-sticker {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0.6em 1.5em;
    vertical-align: top;
    line-height: 1.4;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.2em;
            border-radius: 0.2em;
	font-size: 110%;
	font-weight: bold;
}

.shop-interactive {
    max-width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1.4;
    color: #fff;
    z-index: 2;
}
.shop-interactive__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}
.shop-favorite {
    font-size: 0.75em;
    -webkit-border-radius: 0.16667em;
            border-radius: 0.16667em
}
.shop-favorite:hover,
    .shop-favorite.favorited {
    font-weight: 900;
}
.shop-favorite.favorited:hover {
    font-weight: 400;
}
.shop-compare {
    font-size: 0.875em;
    -webkit-border-radius: 0.14286em;
            border-radius: 0.14286em
}
.shop-compare:hover,
    .shop-compare.compared {
    color: #2e2e2e;
    background-color: #fff;
}
.shop-compare.compared:hover {
    color: inherit;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .5);
}

.shop-prices {
    display: inline-block;
    margin-right: 1.25em;
    vertical-align: middle;
    font-weight: 700;
}
.shop-price {
    display: block;
    margin-bottom: 0.41667em;
    font-size: 1.5em;
    text-transform: uppercase;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.shop-price_old {
    display: inline-block;
    position: relative;
    font-size: inherit;
    color: #b4b4b4;
	margin-bottom: 0;
}
.shop-price_old:after {
    display: block;
    width: 100%;
    margin-top: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    border-bottom: 1px solid #2e2e2e;
    z-index: 2;
}

.shop-counter {
    display: inline-block;
    margin-bottom: 0.625em;
    vertical-align: middle;
    text-align: center
}

.shop-counter input {
    text-align: inherit;
}
.shop-counter__widget {
    display: block;
    width: 4.5em;
    position: relative
}
.shop-counter__widget:hover input {
    border-color: #dedede;
}
.shop-counter__widget:hover input:focus {
    border-color: #b4b4b4;
}
.shop-counter__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    height: 100%;
    padding: 0 0.3125em;
    position: absolute;
    top: 0;
    color: #b4b4b4;
    cursor: pointer;
    z-index: 2;
}
.shop-counter__reducer {
    left: 0;
}
.shop-counter__adder {
    right: 0;
}

.product-in-cart {
    display: block;
    font-size: 0.75em;
    line-height: 1
}

.product-in-cart span {
    color: #bd0038;
}

.product-in-cart a:active span {
    color: inherit;
}

.product-in-cart.active {
    margin-top: 0.66667em;
}

.shop-waitlist .button {
    margin-left: 0.625em;
}

.shop-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-top: 0.625em
}

.shop-actions .button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 0.625em;
}

.shop-actions .button:not(:last-child) {
    margin-right: 0.625em;
}

.shop-list-products {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.shop-item-product {
    margin-bottom:  0.625em;
}

@media (min-width: 480px) {
    .shop-item-product {
        margin-bottom:  1.875em;
    }
}

.shop-item-product .shop-interactive__item {
    padding-right: 1px;
}
.shop-item-product__box {
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
.shop-item-product__top {
    position: relative;
    /* fix */
    -webkit-border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    /* fix */
}
.shop-item-product__image {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
            background-size: contain;
}
.shop-item-product__image:after {
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
    content: '';
}
.shop-item-product__details {
    padding: 1.25em;
}
.shop-item-product__article {
    font-size: 0.625em;
    color: #b4b4b4;
}
.shop-item-product__name,
.shop-item-product__anons {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.shop-item-product__name {
    margin-bottom: 0.625em;
    font-weight: 700;
}
.shop-item-product__anons,
.shop-item-product__properties {
    margin-bottom: 0.83333em;
    font-size: 0.75em;
    font-weight: 700;
}
.shop-item-product__property {
    overflow: hidden;
}
.shop-item-product__offer {
    line-height: 1.4;
}
.shop-item-product__options label {
    display: block;
}
.shop-item-product__numbers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
}

.shop-block-categories {
    margin-bottom: 1.25em;
}
.shop-item-category {
    margin-bottom: 0.625em;
    text-align: center;
    color: #fff;
}
@media (min-width: 480px) {
    .shop-item-category {
        margin-bottom:  1.875em;
    }
}
.shop-item-category__link {
    display: block;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em 
}
.shop-item-category__link:after {
    display: inline-block;
    width: 0;
    height: 0;
    padding-bottom: 38.46154%;
    vertical-align: bottom;
    content: '';
}
.shop-item-category__link:hover {
    color: inherit;
}
.shop-item-category__name {
    display: inline-block;
    max-width: 90%;
    margin-bottom: 0.71429em;
    padding: 0.57143em 1.42857em;
    vertical-align: bottom;
    font-size: 0.875em;
    line-height: 1.4;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    -webkit-border-radius: 0.14286em;
            border-radius: 0.14286em;
}

.shop-block-filter__box {
    padding: 1.875em 1.25em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
.shop-filter__range {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%
}
.shop-filter__range .input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
    width: 0px;
}
.shop-filter__range span {
    margin: 0 0.625em 0.3125em;
    font-weight: 700;
}
.shop-filter__control-group {
    margin-bottom: 1.875em
}
.shop-filter__control-group .roll {
    max-height: 20em;
}
.shop-block-filter_mobile {
    margin-bottom: 1.25em;
}
@media (min-width: 480px) {
    .shop-block-filter_mobile {
        margin-bottom: 1.875em;
    }
}
.shop-block-filter_mobile .shop-block-filter__box {
    padding-top: 0;
    padding-bottom: 0;
}

.shop-product {
    margin-bottom: 1.5625em;
    padding: 1.25em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
.shop-product__anons {
    margin-bottom: 1.875em;
}
.shop-product__article,
.shop-product__properties,
.shop-product__numbers .label {
    font-size: 0.75em;
    font-weight: 700;
}
.shop-product__article {
    margin-bottom: 0.83333em;
}
.shop-product__properties {
    margin-bottom: 2.5em;
}
.shop-product__property {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.shop-product__options label {
    display: block;
}

.shop-product__numbers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}
.shop-product__numbers .label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-right: 0.66667em;
    margin-bottom: 0.83333em;
}
.shop-product__offer {
    line-height: 1.4;
}
.shop-product__actions {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1.25em;
	margin-top: 0;
}
.shop-product__actions .shop-counter,
    .shop-product__actions .button:not(:last-child) {
    margin-right: 1.25em;
}
.shop-product__actions .product-in-cart {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
}
.shop-product__actions .product-in-cart.active {
    margin-top: 0;
}

.shop-product__shared {
    margin-top: 1.25em;
}

.shop-product-tabs {
    margin-bottom: 2.5em;
}

.shop-product-related {
    margin-bottom: 1.25em;
}

@media (min-width: 480px) {
    .shop-product-related {
        margin-bottom: 0;
    }
}

.gallery__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.875em;
    height: 1.875em;
    margin-top: -0.9375em;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    opacity: 0.9;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.gallery__button_prev {
    left: 0;
}
.gallery__button_next {
    right: 0;
}
.gallery__button:hover,
.gallery__button:focus {
    opacity: 1;
}

.shop-product__gallery {
    margin-bottom: 1.875em;
}

@media (min-width: 768px) {
    .shop-product__gallery {
        margin-bottom: 0;
    }
}

.shop-product__gallery .gallery__item {
    outline: none;
    overflow: hidden;
}

.shop-product__gallery .gallery__image {
    width: 100%;
    margin: 0;
    background: no-repeat center center;
    -webkit-background-size: contain;
            background-size: contain;
}
/* fix */
.shop-product__gallery .gallery__image[data-fancybox] {
    cursor: pointer;
}
/* fix */

.shop-product__gallery .gallery__image:after {
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
    content: '';
}

.shop-product__gallery .gallery__basic {
    margin-bottom: 0.3125em;
    position: relative;
}

.shop-product__gallery .gallery__basic .gallery__item {
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

.shop-product__gallery .gallery__second {
    position: relative;
}

.shop-product__gallery .gallery__second .gallery__item {
    border: 5px solid transparent;
    cursor: pointer;
    -webkit-border-radius: 0.125em;
            border-radius: 0.125em;
    opacity: 0.6;
}

.shop-product__gallery .gallery__second .gallery__item:hover,
        .shop-product__gallery .gallery__second .slick-current .gallery__item,
        .shop-product__gallery .gallery__second .gallery__item.slick-current {
    opacity: 1;
}

.shop-product__gallery .gallery__second .slick-current .gallery__item,
        .shop-product__gallery .gallery__second .gallery__item.slick-current {
    cursor: default;
}

.shop-product__gallery .gallery__second .gallery__image {
    -webkit-border-radius: inherit;
            border-radius: inherit;
}

.shop-inblock {
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}

@media (min-width: 480px) {
    .shop-inblock {
        margin-bottom:  1.875em;
    }
}

.shop-cart__form_first {
    margin-bottom:  1.875em
}

.shop-cart__form_first .error,
    .shop-cart__form_first .error_message {
    position: absolute;
}

.shop-table {
    overflow: hidden;
    overflow-x: auto
}

.shop-table .shop-counter {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .shop-table {
        text-align: center;
    }
}
.shop-table__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 100%;
}
@media (min-width: 1200px) {
    .shop-table__row {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }
}
.shop-table__row_total,
.shop-table__row_discount {
    font-weight: 700
}
.shop-table__row_total .shop-table__cell-content, .shop-table__row_discount .shop-table__cell-content {
    font-size: 1.125em;
}
.shop-table__row_total {
    padding-bottom: 1.25em;
}
.shop-table__row_head {
    font-weight: 700
}
.shop-table__row_head .shop-table__cell {
    padding-bottom: 1.25em;
    border-bottom: 1px solid #f2f2f2;
}
.shop-table__row_head .shop-table__cell-content {
    font-size: 0.75em;
}
.shop-table-item .shop-table__cell {
    padding-top: 1.25em;
}
.shop-table-item:not(:last-child) .shop-table__cell {
    padding-bottom: 1.25em;
    border-bottom: 1px solid #f2f2f2;
}
.shop-table__cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
}
@media (min-width: 1200px) {
    .shop-table__cell {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 0%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 0%;
                flex: 0 0 0%;
        padding-right: 0.625em;
    }
}
.shop-table__cell:before {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-flex-basis: 8.46154em;
        -ms-flex-preferred-size: 8.46154em;
            flex-basis: 8.46154em;
    max-width: 8.46154em;
    padding-right: 0.76923em;
    font-size: 0.8125em;
    font-weight: 700;
    content: attr(title) ':';
}
@media (min-width: 1200px) {
    .shop-table__cell:before {
        display: none;
    }
}
.shop-table__cell-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
       -moz-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    max-width: 100%;
}
.shop-table__cell_image:before, .shop-table__cell_name:before, .shop-table__cell_control:before, .shop-table__cell_buy:before, .shop-table__cell_goods:before, .shop-table__cell_cost:before {
    display: none;
}
@media (min-width: 1200px) {
    .shop-table__cell_num {
        -webkit-flex-basis: 5em;
            -ms-flex-preferred-size: 5em;
                flex-basis: 5em;
        max-width: 5em;
    }
}
.shop-table__cell_image {
    -webkit-flex-basis: 6.875em;
        -ms-flex-preferred-size: 6.875em;
            flex-basis: 6.875em;
    max-width: 6.875em;
    padding-right: 0.625em;
}
@media (min-width: 1200px) {
    .shop-table__cell_image {
        -webkit-flex-basis: 5em;
            -ms-flex-preferred-size: 5em;
                flex-basis: 5em;
        max-width: 5em;
    }
}
.shop-table__cell_image a {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
            background-size: contain;
    overflow: hidden;
    -webkit-border-radius: 0.125em;
            border-radius: 0.125em
}
.shop-table__cell_image a:after {
    display: inline-block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
    vertical-align: bottom;
    content: '';
}
@media (min-width: 576px) {
    .shop-table__cell_name,
.shop-table__cell_goods {
        -webkit-flex-basis: 0%;
            -ms-flex-preferred-size: 0%;
                flex-basis: 0%;
        padding-right: 0.625em;
    }
}
@media (min-width: 1200px) {
    .shop-table__cell_name,
.shop-table__cell_goods {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
           -moz-box-flex: 1;
            -ms-flex: 1 0 0%;
                flex: 1 0 0%;
        -webkit-flex-basis: 17.5em;
            -ms-flex-preferred-size: 17.5em;
                flex-basis: 17.5em;
        max-width: 100%;
        text-align: left;
        text-align: initial;
    }
}
.shop-table__cell_control {
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
    padding-right: 0;
    text-align: right;
}
@media (min-width: 576px) {
    .shop-table__cell_control {
        -webkit-flex-basis: 5em;
            -ms-flex-preferred-size: 5em;
                flex-basis: 5em;
        max-width: 5em;
        text-align: center;
    }
}
.shop-table__cell_control a {
    display: inline-block;
    padding: 1.875em;
    vertical-align: middle;
}
.shop-table__cell_control .js_cart_remove:focus,
.shop-table__cell_control .js_cart_remove:hover {
    color: #bd0038;
}
.shop-table__cell_control .js_cart_remove:active {
    color: #8d002a;
}
@media (min-width: 768px) {
    .shop-table__cell_measure-unit,
.shop-table__row:not(.shop-table__row_total) .shop-table__cell_count {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 0%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 0%;
                flex: 0 0 0%;
        -webkit-flex-basis: 5em;
            -ms-flex-preferred-size: 5em;
                flex-basis: 5em;
        max-width: 5em;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .shop-table__cell_measure-unit:before, .shop-table__row:not(.shop-table__row_total) .shop-table__cell_count:before {
        display: none;
    }
}
@media (min-width: 1200px) {
    .shop-table__row_total .shop-table__cell_count {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 0%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 0%;
                flex: 0 0 0%;
        -webkit-flex-basis: 5em;
            -ms-flex-preferred-size: 5em;
                flex-basis: 5em;
        max-width: 5em;
    }
}
@media (min-width: 1200px) {
    .shop-table__cell_price-old,
.shop-table__cell_price,
.shop-table__cell_discount,
.shop-table__cell_sum,
.shop-table__cell_buy,
.shop-table__cell_cost {
        -webkit-flex-basis: 8.125em;
            -ms-flex-preferred-size: 8.125em;
                flex-basis: 8.125em;
        max-width: 8.125em;
    }
}
@media (min-width: 1200px) {
    .shop-table__cell_date {
        -webkit-flex-basis: 5.625em;
            -ms-flex-preferred-size: 5.625em;
                flex-basis: 5.625em;
        max-width: 5.625em;
    }
}
@media (min-width: 1200px) {
    .shop-table__cell_status {
        -webkit-flex-basis: 6.25em;
            -ms-flex-preferred-size: 6.25em;
                flex-basis: 6.25em;
        max-width: 6.25em;
    }
}
.shop-table__cell_buy {
    padding-right: 0;
}
.shop-table-item__category,
.shop-table-item__article {
    max-width: 23.33333em;
    font-size: 0.75em;
    color: #b4b4b4;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.shop-table-item__name {
    display: block;
    max-width: 17.5em;
    font-weight: 700;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.shop-table-item__text {
    font-size: 0.875em;
}

.shop-cart-block .shop-table__row_head .shop-table__cell_control {
    padding-right: 0.9375em;
}

@media (min-width: 576px) {
    .shop-cart-block .shop-table__row_head .shop-table__cell_control {
        padding-right: 0;
    }
}

.shop-cart-additional-cost-block .shop-table__cell_control, .shop-cart-delivery-block .shop-table__cell_control {
    -webkit-flex-basis: 5em;
        -ms-flex-preferred-size: 5em;
            flex-basis: 5em;
    max-width: 5em;
    text-align: center;
}

.shop-cart-additional-cost-block .shop-table__cell_name, .shop-cart-delivery-block .shop-table__cell_name {
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
    padding-right: 0.625em;
}

@media (min-width: 768px) {
    .shop-cart-additional-cost-block .shop-table__cell_price,
    .shop-cart-additional-cost-block .shop-table__cell_sum,
    .shop-cart-delivery-block .shop-table__cell_price,
    .shop-cart-delivery-block .shop-table__cell_sum {
        -webkit-flex-basis: 8.125em;
            -ms-flex-preferred-size: 8.125em;
                flex-basis: 8.125em;
        max-width: 8.125em;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .shop-cart-additional-cost-block .shop-table__cell_price:before, .shop-cart-additional-cost-block .shop-table__cell_sum:before, .shop-cart-delivery-block .shop-table__cell_price:before, .shop-cart-delivery-block .shop-table__cell_sum:before {
        display: none;
    }
}

.shop-orders .shop-table__cell_cost {
    -webkit-flex-basis: 8.125em;
        -ms-flex-preferred-size: 8.125em;
            flex-basis: 8.125em;
    max-width: 8.125em;
}

.shop-orders .shop-table__cell_sum {
    padding-right: 0;
}

.shop-total-block__title {
    margin-right: 0.625em;
    margin-bottom: 0 !important;
}
.shop-total-block__cost {
    font-size:  2em;
}

.shop-compared {
    margin-bottom: 0.625em;
}

@media (min-width: 480px) {
    .shop-compared {
        margin-bottom:  1.875em;
    }
}

.shop-compared .shop-item-product__properties_compared {
    margin-bottom: 1.66667em;
}

.shop-compared .shop-item-product__property {
	margin-bottom: 2px;
    padding: 0.41667em;
    background: #fff;
    -webkit-border-radius: 0.16667em;
            border-radius: 0.16667em;
}

.shop-compared .shop-item-product__property.active {
    background-color: #f9f9f9;
}

.shop-compared .shop-item-product__property.colored {
    color: #fff;
    background-color: #bd0038;
}
@media (max-width: 480px) {
    .shop-compared__properties {
        padding-right: 0;
    }
    .text {
        font-size: 16px;
    }
}
.shop-compared__properties .shop-item-product__properties {
    padding: 1.66667em 0;
}
.shop-compared__gallery {
    position: relative
}
.shop-compared__gallery .gallery__item {
    padding-left: 0.3125em;
    padding-right: 0.3125em;
}

.shop-cart-personal-information-block .control:last-child {
    margin-bottom: 0;
}

.control.alisa .label, .control.alisa .select{
	display:none;
}

.advants-block {
    margin-top: 2.5em;
    font-weight: 700;
    text-align: center;
}
.advants-block__item {
    margin-bottom: 2.5em;
}
.advants-block__image {
    height: 4.0625em;
    margin-bottom: 0.9375em;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog-item-category {
    margin-bottom: 0.625em;
}

@media (min-width: 480px) {
    .blog-item-category {
        margin-bottom:  1.875em;
    }
}
.blog-item-post {
    margin-bottom: 0.625em;
    padding: 1.25em;
    padding-bottom: 0;
    background: #fff;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
@media (min-width: 480px) {
    .blog-item-post {
        margin-bottom:  1.875em;
    }
}
.blog-item-post__image {
    display: block;
    margin: 0 auto 1.25em;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
}
@media (min-width: 480px) {
    .blog-item-post__image {
        width: 9.375em;
        height: 9.375em;
        margin-right: 1.25em;
        float: left;
    }
}
.blog-item-post__image:after {
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
    content: '';
}
.blog-item-post__content {
    margin-bottom: 1.25em;
}
.blog-post__date,
.blog-item-post__date {
    font-size: 0.875em;
    color: #b4b4b4;
}

.review,
.faq-item-question {
    margin-bottom: 0.625em;
}

@media (min-width: 480px) {
    .review,
.faq-item-question {
        margin-bottom:  1.875em;
    }
}
.review__author a {
    color: inherit;
}
.review__date,
.faq-item-question__date,
.faq-element__date {
    font-size: 0.875em;
    color: #b4b4b4;
}

.page__footer {
    padding-top: 1.6875em;
}

.footer__navigation {
    margin-bottom: 1.875em;
    border-bottom: 1px solid #e8e8e8
}

.footer__navigation .navigation-columns__col {
    margin-bottom: 1.25em;
}

@media (min-width: 1200px) {
    .footer__navigation {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.footer__informer {
    text-align: right;
}
.footer__contacts-block {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.8125em;
}

.copyright {
    margin-bottom: 1.875em;
}
.copyright__content {
    font-size: 0.75em;
}


.select {
    min-width: 150px;
} 

/**    **/
.clear {
	clear: both;
}
.v-mesjaz{
	display: inline-block;
}
.kredit_month_summ {
	font-size: 1.5em;
	font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	margin-left: 10px;
}
.kredit_text {
	font-size: .8em;
}
@media (max-width: 710px) {
	.js_bs_counter.carousel-item{
		background-size: contain;
	}
}
@media (max-width: 650px) {
	.credit .modal-dialog {
		padding: 0;
	}
	.modal-content{
		padding: 0;
	}
	.pb-sdk-pos-credit .cont---3gAGR {
		min-width: 100%;
		max-width: 100%;
	}
.kredit_month_summ {
	margin-left: 0;
}
}
.button-credit{
	background-color:#09A96F !important;
	margin-left: 120px;
}
.patch-33{
	padding-top: 22px;
}
.patch-35{
	margin-top: 25px;
}
@media (max-width: 650px) {
	.patch-33{
		/* padding-left: 0 !important; */
	}
	.patch-34{
		margin-right: 0 !important;
	}
	.shop-item-product .shop-interactive{
		max-width: 40px;
		width: 40px;
	}
	.shop-item-product .shop-interactive__item{
		width: 40px;
		height: 40px;
	}
	.shop-item-product .shop-interactive__item:before{
		font-size: 20px;
	}
}
@media (max-width: 430px) {
	.button-credit{
		margin-left: 10%;
	}
	.patch-33{
		width: 50%;
		padding-right: 0;
	}
	.jaz{
		display: none;
	}
}
@media (max-width: 360px) {
	.shop-price, .patch-33>span, .kredit_month_summ{
		font-size: 15px;
	}
	.header__logo {
		max-width: 100%;
	}
	.header__row {
		-webkit-justify-content: space-between;
		justify-content: space-around;
	}
}
.del-important{
	display:none !important;
}
.article-image-caption{
	/*position: absolute;
	top: 20px;
	left: 5px;
	right: 5px;
	width: 210px;*/
	display: flex;
	color: #fff;
	/*justify-content: center;*/
	margin-bottom: 20px;
	/*padding: .57143em 1.42857em;*/
	vertical-align: bottom;
	/*font-size: .875em;
	line-height: 1.4;*/
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: #000;
	background: rgba(0,0,0,.5);
	background: white;
	overflow: hidden;
	-webkit-border-radius: .14286em;
	border-radius: .14286em;
    margin-top: -1.25em;
    padding-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(6,6,15,.38);
}
.blog-post .col-12.col-sm-12 {
    padding: 0;
}
.blog-post__date {
    margin-top: -1em;
    margin-bottom: 1em;
}