%max_count
<ul class="shop-item-product__options">
	<li class="shop-product__option js_shop_form_param">
		<div class="control">
			%control
		<div>
	</li>
</ul>
<div class="shop-item-product__numbers">
	%numbers
	%ub_um
</div>	
%js