<div class="js_shop shop-item shop one-product-in-list good-in-list-wish" style="height:auto;">
	<a href="" class="shop_img shop-photo js_shop_all_img shop_all_img">
		<img class="img-adaptive" src="">
	</a>
	<a href="" class="shop-item-title">
		
	</a>
	<!--div class="shop_discount">
		Скидка: <span class="shop_discount_value">5 %</span>
	</div-->

	<input class="offer-radio-checker" id="" name="" value="" checked="checked" type="radio">
	<label class="js_shop_param_price shop_param_price shop-item-price" for="">
		<div class="is_avalible white">
			<i class="fa fa-check"></i> Есть в наличии: <span class="count-max-wish"></span> шт.
		</div>
	</label>

	
	<input class="button solid buy-button-id button-wish" value="Добавить в корзину" action="buy" data-id="" type="button">
	<div class="error" style="display:none;"></div>
</div>